[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Brain Studio
Comment=Design and simulate spiking neural networks using brain studio
MimeType=application/x-brainstudio;
Icon=/home/zf509/brainstudio/GUI/source/icons/brainstudio-logo.png
Terminal=false
Categories=Application;Utility;
Path=/home/zf509/BUILDS/BrainStudio
Exec=/home/zf509/BUILDS/BrainStudio/BrainStudio %U
StartupNotify=false
StartupWMClass=brainstudio
OnlyShowIn=Unity;
X-UnityGenerated=true
